<script type="text/x-handlebars" id="application">
  <div id="form">
    <div>
      <label>First Name:</label> {{input value=App.user.firstName placeholder="your first name"}}
    </div>
    <div>
      <label>Last Name:</label> {{input value=App.user.lastName placeholder="your last name"}}
    </div>
    <div>
      <label>Full Name:</label> {{input value=App.user.fullName placeholder="your full name" readonly="readonly"}}
    </div>
  </div>
</script>